// @import "compass/css3";

html,body {
    margin:0;
    padding:0;
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
    overflow:hidden;
}

.posA{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
    Background Overlays
*/
.bg{
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-overlay{
    background-color: rgba(57, 58, 62, 0.5);
    transition: opacity 0.5s 0s ease-out;
}

main{
    position: absolute;
    top:1rem;
    bottom:1rem;
    left:1rem;
    right:1rem;
    border:1px solid rgba(180, 180, 180, 1);
    border-radius: 0.5rem;
}

/*
    Loaded State
*/

body.loaded {
    .bg-overlay, main, svg, .cross {
        opacity: 0;
    }
}

/*
    Content
*/

// Top info block
.topInfoBlock{
    color: #d0d0d0;
    font-size: 1rem;
    line-height: 1.8rem;
    padding: 1rem;
}

.infoItem.avatar{
    color: white;
    font-weight: bold;
    opacity: 1 !important;
}

.infoItem:before{
    content: ' ';
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    background-color: #d0d0d0;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 0.1rem;
}

@import "animate_css/bounceInDown";

.topInfoBlock{
    animation-name: bounceInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

// @for $i from 2 through 4 {
//     .infoItem:nth-child(#{$i}) {
//         animation-delay: #{$i*0.05}s;
//     }
// }


// Countdown
.countDown{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.countDownNumber{
    position: relative;
    font-size: 10rem;
    background-color: rgba(218, 218, 218, 0.1);
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    text-align: center;
    line-height: 15rem;
    font-weight: bold;
    color:#d0d0d0;
    border: 2px solid #d0d0d0;
    box-sizing:border-box;
}
.countDownNumber:after {
    content:'';
    position: absolute;
    top: -6.25%;
    left: -6.25%;
    width: 112.5%;
    height: 112.5%;
    border-radius: 50%;
    border: 5px solid #d0d0d0;
    box-sizing:border-box;
}

.cross:before,.cross:after{
    content: '';
    position: absolute;
    background-color: rgba(208, 208, 208, 0.3);
}
.cross:before{
    width:1px;
    height: 100%;
    top:0;
    left:49.9%;
    left:calc(50% - 1px);
}
.cross:after{
    height:1px;
    width:100%;
    left:0;
    top: 49.9%;
    top: calc(50% - 1px);
}

/*
    SVG Wipe
*/
svg {
    display: block;
    // margin: 50px auto;
    width: 400%;
    height: 400%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-37.5%) translateY(-37.5%);
    transition: opacity 0.5s 0s ease-out;
}

#loader {
    fill: rgba(150, 150, 150, 0.8);
}
